{% load static %}

<div class="home-v1-slider" >
        <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
           <div class="item slider-1" style="background-image: url({% static '/images/slider/slider1.jpg' %});">
              <div class="caption fadeIn">
                 <div class="pre-title">
                    <div class="border front"></div>
                    <div class="lable">Nouveau!</div>
                    <div class="pre-title-value">offre limitée</div>
                    <div class="border back"></div>
                 </div>
                 <div class="title">SUPREME</div>
                 <div class="sub-title">POULET</div>
                 <div class="bottom-caption">Bacon  -  Grilled Onions  -  Potatos  -  Mozarella  -  BBQ Sauce</div>
              </div>
              <!-- /.caption -->
           </div>
           <!-- /.item -->
           <div class="item slider-2" style="background-image: url({% static '/images/slider/slider2.jpg' %});">
              <div class="caption fadeIn">
                 <div class="price-tag">
                   <!-- <div class="border front"> </div>-->
                    <div class="price-tag-value">
                       <div class="price"><span class="symbol">GNF</span>12000<span class="slider-amount"><br><span class="price-only">seulement</span></span> </div>
                    </div>
                   <!-- <div class="border back"> </div>-->
                 </div>
                 <div class="title">ORYGINAL ITALY</div>
                 <div class="sub-title">PIZZA LOVERS SET</div>
              </div>
              <!-- /.caption -->
           </div>
           <!-- /.item -->
           <div class="item slider-3" style="background-image: url({% static '/images/slider/slider3.jpg' %});">
              <div class="caption fadeIn">
                 <div class="pre-title">découvrez et commandez</div>
                 <div class="title"><span></span><span>avec<br>visa</span>en ligne</div>
              </div>
              <!-- /.caption -->
           </div>
           <!-- /.item -->
           <div class="item slider-4" style="background-image: url({% static '/images/slider/slider4.jpg' %});">
              <div class="caption fadeIn">
                 <div class="pre-title">OFFRE EXCLUSIVE</div>
                 
                 <div class="title"><span>VEGGIE FUN</span><br>été délicieux!</div>
              </div>
              <!-- /.caption -->
           </div>
           <!-- /.item -->
        </div>
       <!-- /.owl-carousel -->
</div>